.header{
    background-color:rgb(168,126,98);
    height:220px;
    width:100%;

}



.header_text_1{
 
font-family:'Koulen', sans-serif ; 
font-size: 25px;
color: rgb(58,35,23);
display:flex;
justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
  
}


a:hover{
    background-color: rgb(244,222,203);
    color:#FFFFFF;
 


}



   



.Navigation {
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    margin:30px;
    gap:20%;
    font-family: Roboto, sans-serif;
    font-weight:bold 400px;
    font-size: 20px;

   
}

a:visited{
color:rgb(49,31,19);

}

a:link{
  color:rgb(49,31,19);

}






   
.body{
    height: 1220px;
    width:100%;
    background-color: rgb(244,222,203);

}


.My-Gallery{
  font-family: 'Cedarville Cursive', cursive;
  text-align: center;
  font-size: 50px;
}


div.gallery {
  background-color:  rgb(58,35,23);
  display:flex;
  flex-direction: row;
  justify-content: center;
  column-gap:40px;
  row-gap: 30px;
}

div.gallery:hover {
 background-color: #c39a61cb;
}
div.gallery img:hover {
  background-color: #c39a61cb;
 }

div.gallery img {
  width: 200px;
  height:300px;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family:'Ysabeau Office', sans-serif;
  color:#FFFFFF;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 600px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 300px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}













.footer{ 
height:150px;
width:100%;
background-color:rgb(168,126,98);
margin:0px;

}
.footer-link {
display:flex;
flex-direction:column;
height: 10px; 
width:50%;
margin: 20px 15px 20px 20px;
align-items: flex-start; 

}

.facebook:hover{
  opacity:0.5;
}
.insta:hover{
  opacity:0.5;
}
.facebook{
 height: 30px; 
 width:40%;
 margin: 20px 15px 20px 20px;
 align-items: flex-start; 
}


.insta{
  height: 30px; 
  width:40%;
  margin:20px 15px 20px 20px;
  align-items: flex-start;
}





